@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Public+Sans:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.3rem;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: rgb(235, 235, 235);
}

header {
  background-color: rgb(41, 41, 95);
  color: white;
  padding: 1rem 1.4rem;
  font-size: 1.4rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
.headerContents {
  display: flex;
  gap: 0.3rem;
}
header li {
  list-style: none;
}
header a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}
a button {
  border: none;
}
header button:hover {
  cursor: pointer;
  transform: scale(1.2);
}
header i {
  margin-right: 0.4rem;
}

header .buttons {
  display: flex;
  gap: 1rem;
}
button {
  padding: 0.2rem 1.1rem;
  background: none;
  border: none;
}

button {
  color: white;
  border: 1px solid white;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 0.2rem;
}
.buttons a {
  border: 1px solid white;
}
.heading {
  display: none;
}

footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  background-color: rgb(41, 41, 95);
  padding: 2rem;
}
footer li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}
footer ul {
  display: flex;
  gap: 1rem;
}
.support {
  display: flex;
}
.support li {
  list-style-type: none;
}
.support a {
  text-decoration: none;
  font-size: 1.1rem;
}

/* middle section  */

section {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section h1 {
  font-size: 2rem;
  margin-top: 2rem;
}

.main-box {
  padding: 2.5rem 3rem;
  width: 36%;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 1rem;
  box-shadow: 0 20px 30px rgba(102, 112, 121, 0.2);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form div {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}

.main-box input {
  width: 100%;
  height: 2rem;
  padding: 1rem;
  border-radius: 0.15rem;
  border: 0.01rem solid;
  outline: none;
}

.main-box label {
  font-weight: 600;
}
.main-box div p {
  font-size: 0.8rem;
}

.btn-signup {
  padding: 0.4rem 1rem;
  border-radius: 0.4rem;
}
.btn-signup button {
  border: none;
  background: none;
}
.btn-signup button:hover {
  cursor: pointer;
}

.main-box input:focus {
  border: 0.14rem solid rgb(104, 147, 204);
  background-color: white;
}
.errorMessage {
  color: red;
  font-size: 0.8rem;
}
.btn-signup {
  align-self: center;
  font-size: 600;
  background-color: rgb(41, 41, 95);
}
.btn-signup input:focus {
  background-color: rgb(41, 41, 95);
}
.tos {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: lighter;
  font-size: 0.76rem;
}
.tos input {
  width: auto;
}

.sign-up-done {
  display: none;
}
.sign-up-done {
  align-self: center;
}
.sign-up-done img {
  width: 120%;
  margin-top: 5rem;
}
.tos-test-msg label {
  margin-bottom: -0.6rem;
}
.tos-test-msg p {
  font-weight: 400;
}

@media (max-width: 1200px) {
  * {
    width: auto;
  }
  ul {
    flex-direction: column;
    width: auto;
  }
  .main li {
    width: 85%;
    align-self: center;
  }
  .headerContents {
    flex-direction: column;
  }
  header {
    flex-direction: column;
    gap: 1.3rem;
    align-items: center;
  }
  .main-box {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .main-box {
    width: 70%;
  }
}
