@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Public+Sans:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.3rem;
}
body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: rgb(235, 235, 235);
}
header {
  background-color: rgb(41, 41, 95);
  color: white;
  padding: 1rem 1.4rem;
  font-size: 1.4rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
header i {
  margin-right: 0.4rem;
}
header .buttons {
  display: flex;
  gap: 1rem;
}
button {
  padding: 0.2rem 1.1rem;
  background: none;
  border: none;
}
button {
  color: white;
  border: 1px solid white;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 0.2rem;
}
section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section h1 {
  padding: 1rem;
}
section img {
  width: 100%;
  /* height: 25rem; */
  height: 73%;
  object-fit: contain;
}

.main ul {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}
.main ul li {
  padding: 0.4rem 2.5rem;
}
.main li {
  background: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.13);
  display: flex;
  flex-direction: column;
  width: 25%;
  gap: 0.6rem;
}
p {
  color: rgb(94, 94, 94);
}
.category {
  color: black;
  font-size: 0.75rem;
  text-align: right;
}
.title {
  color: rgb(39, 38, 38);
}
.rating {
  text-align: center;
  align-self: center;
  justify-content: center;
  color: rgb(41, 41, 41);
  font-size: 0.9rem;
}
.price {
  color: rgb(48, 47, 47);
  font-size: 300;
  align-self: center;
  font-size: 1.6rem;
}

footer {
  display: flex;
  justify-content: center;
  background-color: rgb(41, 41, 95);
  padding: 2rem;
}
footer li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}
footer ul {
  display: flex;
  gap: 1rem;
}
.support {
  display: flex;
}
.support li {
  list-style-type: none;
}
.support a {
  text-decoration: none;
  font-size: 1.1rem;
}

@media (max-width: 850px) {
  * {
    width: auto;
  }
  ul {
    flex-direction: column;
    width: auto;
  }
  .main li {
    width: 85%;
    align-self: center;
  }
}
